model/__pycache__/model.cpython-310.pyc
model.pth
*.jpg
Users - Copy.csv
.vscode/settings.json
__pycache__/BillDataset.cpython-310.pyc
model/__pycache__/model.cpython-38.pyc

min_training_loss_model.pth
min_val_loss_model.pth
*.pth
